#page-title {
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-weight: 200;
  font-size: 50px;
}
header {
  background-color: var(--bkg-black);
  background-image: url("/assets/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}
