/* Header */
#page-title {
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-weight: 200;
    font-size: 50px;
  }
  header {
      background-color: var(--bkg-black);
      background-image: url('/assets/header-background.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
  header > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0px 30px 0px;
  }
  header > nav > a {
    text-decoration: none;
    border: 3px solid var(--prm-font-cyan);
    padding: 10px 30px;
    border-radius: 50px;
    color: var(--prm-font-cyan);
  }
  /* END OF HEADER */