* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --bkg-black: #0b0c10;
  --navy: #1f2833;
  --scnd-font-grey: #c5c6c7;
  --prm-font-cyan: #66fcf1;
  --grue: #45a29e;
  --anton: "Anton", sans-serif;
  --oswald: "Oswald", sans-serif;
  
}

.flex-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--navy);
  color: var(--prm-font-cyan);
  font-family: var(--oswald);
}

main{
    margin: 50px;
    height: 100%;
}

#disqus_thread {
  background-color: var(--bkg-black);
}

h3{
  text-align: right;
}

