* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bkg-black: #0b0c10;
    --navy: #1f2833;
    --scnd-font-grey: #c5c6c7;
    --prm-font-cyan: #66fcf1;
    --grue: #45a29e;
    --anton: "Anton", sans-serif;
    --oswald: "Oswald", sans-serif;
}

.flex-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--navy);
    color: var(--prm-font-cyan);
    font-family: var(--oswald);
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

main {
    margin: 50px;
    height: 100%;
}

#disqus_thread {
    background-color: var(--bkg-black);
}

h3 {
    text-align: right;
}

article > h1 {
    text-align: center;
}
article > p {
    text-indent: 40px;
}

.saraImage {
    height: 350px !important;
}

.tableOfContents > h1 {
    text-align: center;
}
.tableOfContents > h2 {
    text-align: center;
}

.tableOfContents > h2 > a:visited,
.tableOfContents > h2 > a:link,
.tableOfContents > h4 > a:visited,
.tableOfContents > h4 > a:link {
    color: #66fcf1;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100vw;
}

nav a {
    width: 20%;
    text-align: center;
    font-size: 25px;
    background-color: #1f2833;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px;
    border-radius: 30px;
    color: #66fcf1;
    text-decoration: none;
}

nav a:hover {
    color: #1f2833;
    background-color: #66fcf1;
    text-decoration: none;
    box-shadow: 0px 0px 5px 5px;
}

.selectedLink {
    color: #1f2833;
    background-color: #66fcf1;
    text-decoration: none;
    box-shadow: 0px 0px 5px 5px;
}
